header{
  position:fixed;
  z-index:10;
  top:0;
  left:0;
  right:0;
  background-color:var(--site-background-color);
  /* only works if opacity is added through the bg color */
  /* backdrop-filter: blur(10px) opacity(50%); */
}
header nav{
  padding:25px;
  max-width:1200px;
  margin:0 auto;
  font-size:14px;
  gap:25px;
}

/* mobile nav */
@media (max-width: 500px) {
  header nav{
    flex-wrap: wrap;
    gap:15px;
  }
}

header .nav-item-container{
  transform:scale(1);
  transition: transform .15s;
}
.nav-item-container:hover{
  transform:scale(1.05);
}