#now-section{
  padding-bottom:60px;
}

/* now info/summary */
.page-nav{
  margin-bottom:50px;
}
#now-info-container{
  width:360px;
  font-size:14px;
  position:absolute;
}
#now-info-container.stick{
  position:fixed;
  top:40px;
}
@media only screen and (max-width: 865px){
  #now-info-container{
    position:relative!important;
    top:unset!important;
    width:100%;
    font-size:inherit;
  }
}

#now-info-container h2{
  margin-bottom:50px;
}

/* now page sections/items */
.now-items-container{
  /* margin-left:60px; */
  margin-left:420px;
  /* overflow-y:auto; */
}
/* responsive styles */
@media only screen and (max-width: 865px){
  .now-items-container{
    margin-left:0;
    margin-top:80px;
  }
}

/* now items */
.item-row{
  margin-bottom:40px;
}
.item-row:last-child{
  margin-bottom:0;
}

/* item header */
.item-header{
  margin-bottom:5px;
}
.item-category-container{
  margin-right:10px;
}
