---
subtitle: Technology, Design, and Environmentalism
description: Hi, my name is Sammy Harper. I'm a Green Tech Founder, Designer, & Dreamer.
layout: layouts/base.njk
---

<h1>my portfolio is getting cooler, please wait.</h1>