---
subtitle: Technology, Design, and Environmentalism
description: Hi, my name is Sammy Harper. I'm a Green Tech Founder, Designer, & Dreamer.
layout: layouts/base.njk
scripts: /js/build-projects-scripts.js
---

{# page scripts #}
{# <script src="/js/build-projects-scripts.js"></script> #}

<section id="hero-section" class="h-card" data-au="flex-container align-center">
  <div class="hide other-h-card-data">
    <img class="u-photo" src="./img/self-pixel-portrait-summer-outfit-covid-centered.png">
    <a href="{{ site.url }}" class="u-url u-uid">{{ site.url }}</a>

  </div>
  <div class="picture-container" data-au="flex-width flex-container all-center flex-vertical">
    <div class="picture-frame-container">
      <div class="picture-frame material-shadow"></div>
      {# <a id="see-now-link" class="icon-link smiley-convo" href="/now">
        <div class="smiley-icon"></div>
        <h3 class="icon-link-tooltip ">What are you up to /now?</h3>
      </a> #}
      <a id="contact-me-link" class="icon-link smiley-convo" href="#contact-section">
        <div class="smiley-icon"></div>
        <h3 class="icon-link-tooltip say-hi-text">Say hi!</h3>
      </a>
    </div>
    <div class="buttons-container">
      {# <a class="standard-button" href="/now">What are you working on <code>/now</code>?</a> #}
    </div>
  </div>
  <div class="about-me-container" data-au="flex-width">
    <div class="about-me-title">
      <h1>Hi,</h1>
      <h2>my name is</h2>
      <h1 class="p-name">
        <span class="highlighter-container p-nickname">
          <span>Sammy</span>
        </span><br>
        <span class="highlighter-container p-family-name">
          <span>Harper</span>
        </span></h1>
    </div>
    <div class="about-me-description p-note">
      <h3>I'm a <span class="highlighter-container"><span>green tech founder</span></span>, <span class="highlighter-container"><span>designer</span></span>, <span class="force-inlineb">and <span class="highlighter-container"><span>dreamer</span></span>.</span></h3>
      {# <p>I'm also known for driving skills .</p> #}
    </div>
  </div>
</section>
<section id="more-about-me-section" data-au="flex-container align-center">
  <div class="item-description-container" data-au="flex-width">
    <h3>A little more about me&hellip;</h3>
    <p>I'm an imaginative and motivated designer with 7 years of professional experience in Web, Graphic, and UI/UX Design. I started coding in Batch at 12 years old, and quickly found my passion for computer and web-based design. Each of my projects have helped me learn and grow as a designer, as well as help set myself apart. I strive to not just show the world my creative ideas, but to change the world with them.</p>
    <p>Professionally, I'm the Founder &amp; CEO of <a class="text-link" target="_blank" href="https://www.terrabyte.eco">Terrabyte</a> and the President of <a class="text-link" targer="_blank" href="https://www.goldenharpmedia.com">Golden Harp Media</a>.</p>
    {# <p>
      Keep scrolling to see some of my <a class="text-link" href="#portfolio-filter-section">past projects</a> &mdash; or, read about what I'm up to <a class="text-link" href="/now">now</a>.
    </p> #}
  </div>
  <div class="picture-container item-images-container" data-au="flex-width flex-container all-center">
    <div class="about-pics-container">
      <!-- <img class="material-shadow" src="./img/self-pixel-portrait-summer-outfit-covid-centered.png"> -->
      <img class="material-shadow" src="./img/self-pixel-portrait_full_dark-wintery_some-snow_large-cropped.png">
    </div>
    
  </div>
</section>

  <a name="portfolio-filter-section"></a>
	<section id="portfolio-filter-section" class="show-with-js" data-au="flex-container flex-vertical">
		<div data-au="flex-container flex-width flex-vertical">
			<div data-au="set-width">
				<h4 class="middle-ish-header">
					<span class="highlighter-container">
            <span>Filter projects by&hellip;</span>
          </span>
				</h4>
			</div>
      <!-- <div class="filter-row flex-container align-center">
        <span>Category</span>
        <div data-au="flex-container flex-width">
          <div class="filter-button set-width">
            <span>Environmental</span>
          </div>
        </div>
      </div>
      <div class="set-width filter-row">
        <p>Focus</p>
      </div> -->
			<div id="filter-links-container" data-au="flex-width all-center flex-container text-center">
				<div class="icon-link-container" data-au="flex-width text-center">
					<a class="filter-portfolio-link icon-link" data-filter-button data-filter="graphic-design">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
							<use href="#paint-tools-icon"/>
						</svg>
						<h3 class="icon-link-tooltip">Graphic Design</h3>
					</a>
				</div>
				<div class="icon-link-container" data-au="flex-width text-center">
					<a class="filter-portfolio-link icon-link" data-filter-button data-filter="web-design">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
							<use href="#code-icon"/>
						</svg>
						<h3 class="icon-link-tooltip">Web Design</h3>
					</a>
				</div>
				<div class="icon-link-container" data-au="flex-width text-center">
					<a class="filter-portfolio-link icon-link" data-filter-button data-filter="illustration">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
							<use href="#paint-palette-icon"/>
						</svg>
						<h3 class="icon-link-tooltip">Illustration</h3>
					</a>
				</div>
				<div class="icon-link-container" data-au="flex-width text-center">
					<a class="filter-portfolio-link icon-link" data-filter-button data-filter="animation">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
							<use href="#video-clapper-icon"/>
						</svg>
						<h3 class="icon-link-tooltip">Animation</h3>
					</a>
				</div>
				<div class="icon-link-container" data-au="flex-width text-center">
					<a class="filter-portfolio-link icon-link" data-filter-button data-filter="photography">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
							<use href="#camera-icon"/>
						</svg>
						<h3 class="icon-link-tooltip">Photography</h3>
					</a>
				</div>
				<div class="icon-link-container" data-au="flex-width text-center">
					<a class="filter-portfolio-link icon-link" data-filter-button data-filter="environmental">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
							<use href="#globe-icon"/>
						</svg>
						<h3 class="icon-link-tooltip">Environmental</h3>
					</a>
				</div>

				<div class="icon-link-container" data-au="flex-width text-center">
					<a class="filter-portfolio-link icon-link" data-filter-button data-filter="all">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
							<use href="#grid-icon"/>
						</svg>
						<h3 class="icon-link-tooltip">Show All</h3>
					</a>
				</div>
			</div>
		</div>
	</section>

	<a name="portfolio-section"></a>
  <template id="section-template">
    <section data-project-section id="" data-au="flex-container align-center" data-filter="">
      <div class="item-images-container" data-au="flex-width flex-container all-center">
				<a data-project-thumbnail-link target="_blank">
					<img data-project-thumbnail class="material-shadow" src="">
				</a>
			</div>
      <div class="item-description-container" data-au="flex-width">
				<h4>
					<span class="highlighter-container">
            <span data-project-title></span>
          </span>
				</h4>
				<h3 data-project-tags-container class="item-badges-container"></h3>
				<p data-project-caption></p>
				<p>
					<a data-project-link class="text-link" target="_blank"></a>
				</p>
			</div>
    </section>
  </template>
  
	<main id="portfolio-sections-container" class="">
    <div data-sections-container>
      <!-- sections loaded here -->
    </div>


		<section id="photography-section" data-au="flex-container flex-vertical justify-center" data-filter="photography">
			<div class="item-description-container">
				<h4>
					<span class="highlighter-container">
            <span data-project-title>Photography</span>
          </span>
				</h4>
			</div>

			<div class="item-images-container mosaic-gallery" data-au="set-width flex-container space-between flex-wrap">
				<img class="material-shadow" src="./img/up-resized.jpg" loading="lazy" alt="Photo of a viewer looking up to the tops of pine trees from the bottom of them.">
				<img class="material-shadow" src="./img/krakow.webp" loading="lazy" alt="Photo of the top of a cathedral in Krakow, Poland.">
				<img class="material-shadow" src="./img/nebraskasunset-resized.jpg" loading="lazy" alt="Photo of a Nebraska sunset out a car window.">
				<img class="material-shadow" src="./img/bladesofgreen.webp" loading="lazy" alt="Photo of a sunset from the viewpoint of blades of grass.">
				<img class="material-shadow" src="./img/apalebeach.webp" loading="lazy" alt="Photo of a palm tree on the beach in Barcelona, Spain.">
				<img class="material-shadow" src="./img/embers-resized.jpg" loading="lazy" alt="Photo of embers flying into the night sky from a campfire.">
				<img class="material-shadow" src="./img/80sBlues.webp" loading="lazy" alt="Edited photo of Lake Geneva, outside of Montreaux, Switzerland, with the Alps in the background.">
			</div>
			<!-- <div id="photography-slideshow" class="slideshow show-with-js" data-page="1">
				<div class="right-arrow arrow-link icon-link"></div>
				<div class="left-arrow arrow-link icon-link"></div>

				<div class="item-images-container flex-container space-around flex-wrap">
					<div id="up-img-thumb" class="photo-gallery-thumb"></div>
					<div id="krakow-img-thumb" class="photo-gallery-thumb"></div>
					<div id="nebraskasunset-img-thumb" class="photo-gallery-thumb"></div>
					<div id="bladesofgreen-img-thumb" class="photo-gallery-thumb"></div>
					<div id="apalebeach-img-thumb" class="photo-gallery-thumb"></div>
					<div id="embers-img-thumb" class="photo-gallery-thumb"></div>
					<div id="eightysblues-img-thumb" class="photo-gallery-thumb"></div>

					<img class="material-shadow" src="./img/up-resized.jpg">
					<img class="material-shadow" src="./img/krakow.webp">
					<img class="material-shadow" src="./img/nebraskasunset-resized.jpg">
					<img class="material-shadow" src="./img/bladesofgreen.webp">
					<img class="material-shadow" src="./img/apalebeach.webp">
					<img class="material-shadow" src="./img/embers-resized.jpg">
					<img class="material-shadow" src="./img/80sBlues.webp">
				</div>
			</div> -->
		</section>
	</main>

	<a name="contact-section"></a>
	<section id="contact-section" data-au="flex-container flex-vertical">
		<div data-au="flex-container flex-width flex-vertical">
			<div data-au="set-width">
				<h2 class="middle-ish-header">
					<span class="highlighter-container">
            <span>Get in touch!</span>
          </span>
				</h2>
			</div>
			<div id="contact-links-container" class="icon-links-container" data-au="flex-width all-center flex-container text-center">
				<div class="contact-link-container" data-au="flex-width text-center">
					<a href="https://instagram.com/OfficialSamHarp" class="icon-link" target="_blank">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
							<use href="#instagram-icon"/>
						</svg>
						<h3 class="icon-link-tooltip">Instagram</h3>
					</a>
				</div>
        <div class="contact-link-container" data-au="flex-width text-center">
					<a href="https://www.linkedin.com/in/harpersj/" class="icon-link" target="_blank">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
							<use href="#linkedin-icon"/>
						</svg>
						<h3 class="icon-link-tooltip">LinkedIn</h3>
					</a>
				</div>
				<div class="contact-link-container" data-au="flex-width text-center">
					<a rel="me" href="https://github.com/samharp" class="icon-link" target="_blank">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
							<use href="#github-icon"/>
						</svg>
						<h3 class="icon-link-tooltip">Github</h3>
					</a>
				</div>
				<div class="contact-link-container" data-au="flex-width text-center">
					<a rel="me" href="https://climatejustice.social/@samharp" class="icon-link" target="_blank">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
							<use href="#mastodon-icon"/>
						</svg>
						<h3 class="icon-link-tooltip">Mastodon</h3>
					</a>
				</div>
				{# <div class="contact-link-container flex-width text-center">
					<a href="https://www.buymeacoffee.com/samharp" class="icon-link" target="_blank">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
							<use href="#bmacoffee-icon"/>
						</svg>
						<h3 class="icon-link-tooltip">Buy Me A Coffee</h3>
					</a>
				</div> #}

			</div>
		</div>
	</section>