---
subtitle: Technology, Design, and Environmentalism
description: Hi, my name is Sammy Harper. I'm a Green Tech Founder, Designer, & Dreamer.
layout: layouts/base.njk
scripts: /js/projects-scripts.js
---

{% include "header.njk" %}

<section id="hero" class="h-card full-section" data-au="flex-container align-center">
  <div class="hide other-h-card-data">
    <img class="u-photo" src="./img/self-pixel-portrait-summer-outfit-covid-centered.png">
    <a href="{{ site.url }}" class="u-url u-uid">{{ site.url }}</a>

  </div>
  <div class="picture-container" data-au="flex-width flex-container all-center flex-vertical">
    <div class="picture-frame-container">
      <div class="picture-frame material-shadow"></div>
      <a id="contact-me-link" class="icon-link smiley-convo" href="#contact">
        <div class="smiley-icon"></div>
        <h3 class="icon-link-tooltip say-hi-text">Say hi!</h3>
      </a>
    </div>
  </div>
  <div class="about-me-container" data-au="flex-width">
    <h1 class="about-me-title">
      <span>Hi,</span>
      <span class="rel-smaller-text">my name is</span>
      <span class="p-name">
        <span class="highlighter-container p-nickname">
          <span>Sammy</span>
        </span><br>
        <span class="highlighter-container p-family-name">
          <span>Harper</span>
        </span>
    </h1>
    <div class="about-me-description p-note">
      <h2>I'm a <span class="highlighter-container"><span>green tech founder</span></span>, <span class="highlighter-container"><span>designer</span></span>, <span class="force-inlineb">and <span class="highlighter-container"><span>dreamer</span></span>.</span></h2>
    </div>
  </div>
</section>
<section id="more-about-me" data-au="flex-container align-center">
  <div class="item-description-container" data-au="flex-width">
    <h2>A little more about me&hellip;</h2>
    <p>I'm an imaginative and motivated designer with 8 years of professional experience in Web, Graphic, and UI/UX Design. I started coding in Batch at 12 years old, and quickly found my passion for computer and web-based design. Each of my projects have helped me learn and grow as a designer, as well as help set myself apart. I strive to not just show the world my creative ideas, but to change the world with them.</p>
    <p>Professionally, I'm the Founder &amp; CEO of a green tech startup called <a class="text-link" target="_blank" href="https://www.terrabyte.eco">Terrabyte</a> and the President of a web contracting company called <a class="text-link" targer="_blank" href="https://www.goldenharpmedia.com">Golden Harp Media</a>.</p>
  </div>
  <div class="picture-container item-images-container" data-au="flex-width flex-container all-center">
    <div class="about-pics-container">
      <!-- <img class="material-shadow" src="./img/self-pixel-portrait-summer-outfit-covid-centered.png"> -->
      <img class="material-shadow" src="./img/self-pixel-portrait_full_dark-wintery_some-snow_large-cropped.png">
    </div>
  </div>
</section>

<a name="projects"></a>
<main class="" data-au="flex-container flex-vertical">
	<section data-au="flex-container flex-width flex-vertical">
		<div data-au="set-width">
			<h2>
				<span>Filter projects by&hellip;</span>
			</h2>
		</div>
		<div class="filter-row" data-au="flex-container align-center flex-wrap">
			<label class="filter-button filter-chip" aria-checked="false" data-au="set-width">
				<input data-filter-toggle data-filter="environmental" type="checkbox">
				<span>Environmental</span>
			</label>
			<label class="filter-button filter-chip" aria-checked="false" data-au="set-width">
				<input data-filter-toggle data-filter="graphic-design" type="checkbox">
				<span>Graphic Design</span>
			</label>
			<label class="filter-button filter-chip" aria-checked="false" data-au="set-width">
				<input data-filter-toggle data-filter="web-design" type="checkbox">
				<span>Web Design</span>
			</label>
			<label class="filter-button filter-chip" aria-checked="false" data-au="set-width">
				<input data-filter-toggle data-filter="ui-ux" type="checkbox">
				<span>UI/UX</span>
			</label>
		</div>
	</section>



	<div id="portfolio-sections-container" class="">
		{% for item in projects.projectItems %}
			<section data-project-section id="{{ item.itemID }}" data-au="flex-container align-center" data-filter="{{ item.itemTags | join(" ") }}">
				<div class="item-images-container" data-au="flex-width flex-container all-center">
					<a href="{{ item.linkHref }}" target="_blank">
						<img data-project-thumbnail class="material-shadow" src="{{ item.itemThumbnail }}">
					</a>
				</div>
				<div class="item-description-container" data-au="flex-width">
					<h3>
						<span class="highlighter-container">
							<span>{{ item.itemTitle }}</span>
						</span>
					</h3>
					<h4 data-project-tags-container class="item-badges-container">{{ item.itemTags | join(", ") }}</h4>
					<p>{{ item.itemCaption }}</p>
					<p>
						<a class="text-link" href="{{ item.linkHref }}" target="_blank">{{ item.linkTitle }}</a>
					</p>
				</div>
			</section>
		{% endfor %}


		<section id="photography" data-au="flex-container flex-vertical justify-center" data-filter="photography">
			<div class="item-description-container">
				<h4>
					<span class="highlighter-container">
						<span data-project-title>Photography</span>
					</span>
				</h4>
			</div>

			<div class="item-images-container mosaic-gallery" data-au="set-width flex-container space-between flex-wrap">
				<img class="material-shadow" src="./img/up-resized.jpg" loading="lazy" alt="Photo of a viewer looking up to the tops of pine trees from the bottom of them.">
				<img class="material-shadow" src="./img/krakow.webp" loading="lazy" alt="Photo of the top of a cathedral in Krakow, Poland.">
				<img class="material-shadow" src="./img/nebraskasunset-resized.jpg" loading="lazy" alt="Photo of a Nebraska sunset out a car window.">
				<img class="material-shadow" src="./img/bladesofgreen.webp" loading="lazy" alt="Photo of a sunset from the viewpoint of blades of grass.">
				<img class="material-shadow" src="./img/apalebeach.webp" loading="lazy" alt="Photo of a palm tree on the beach in Barcelona, Spain.">
				<img class="material-shadow" src="./img/embers-resized.jpg" loading="lazy" alt="Photo of embers flying into the night sky from a campfire.">
				<img class="material-shadow" src="./img/80sBlues.webp" loading="lazy" alt="Edited photo of Lake Geneva, outside of Montreaux, Switzerland, with the Alps in the background.">
			</div>
			<!-- <div id="photography-slideshow" class="slideshow show-with-js" data-page="1">
				<div class="right-arrow arrow-link icon-link"></div>
				<div class="left-arrow arrow-link icon-link"></div>

				<div class="item-images-container flex-container space-around flex-wrap">
					<div id="up-img-thumb" class="photo-gallery-thumb"></div>
					<div id="krakow-img-thumb" class="photo-gallery-thumb"></div>
					<div id="nebraskasunset-img-thumb" class="photo-gallery-thumb"></div>
					<div id="bladesofgreen-img-thumb" class="photo-gallery-thumb"></div>
					<div id="apalebeach-img-thumb" class="photo-gallery-thumb"></div>
					<div id="embers-img-thumb" class="photo-gallery-thumb"></div>
					<div id="eightysblues-img-thumb" class="photo-gallery-thumb"></div>

					<img class="material-shadow" src="./img/up-resized.jpg">
					<img class="material-shadow" src="./img/krakow.webp">
					<img class="material-shadow" src="./img/nebraskasunset-resized.jpg">
					<img class="material-shadow" src="./img/bladesofgreen.webp">
					<img class="material-shadow" src="./img/apalebeach.webp">
					<img class="material-shadow" src="./img/embers-resized.jpg">
					<img class="material-shadow" src="./img/80sBlues.webp">
				</div>
			</div> -->
		</section>
	</div>

</main>