<footer>
  {# carbon footer #}
  <div class="reg-footer">
    <section class="flex-container">
      <!-- logo col -->
      <div class="flex-width">
        <h2 class="p-name">
          <span class="highlighter-container">
            <span>Sammy</span>
          </span><br>
          <span class="highlighter-container">
            <span>Harper</span>
          </span>
        </h2>

        <!-- social media links -->
        <div id="footer-socials-container" class="flex-container align-center">
          <!-- instagram, Mastodon -->
          <div class="social-link-container">
            <a href="https://instagram.com/OfficialSamHarp" class="icon-link" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                <use href="#instagram-icon"/>
              </svg>
            </a>
          </div>
          <div class="social-link-container">
            <a href="https://github.com/samharp" class="icon-link" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                <use href="#github-icon"/>
              </svg>
            </a>
          </div>
          <div class="social-link-container">
            <a rel="me" href="https://climatejustice.social/@samharp" class="icon-link" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                <use href="#mastodon-icon"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div id="footer-link-cols-container" class="flex-width flex-container">
        <!-- columns of links -->
        <div class="footer-col-section flex-width">
          <h3>Company</h3>
          <div class="footer-link-container">
            <a class="standard-link" href="https://terrabyte.eco" target="_blank">Terrabyte</a>
          </div>
          <div class="footer-link-container">
            <a class="standard-link" href="https://goldenharpmedia.com" target="_blank">Golden Harp Media</a>
          </div>
        </div>
        <div class="footer-col-section flex-width">
          <h3>Projects</h3>
          <div class="footer-link-container">
            <a class="standard-link" href="https://pixelplanettoday.com" target="_blank">Pixel Planet Today</a>
          </div>
          <div class="footer-link-container">
            <a class="standard-link" href="https://wastedspace.fun" target="_blank">Wasted Space</a>
          </div>
          <div class="footer-link-container">
            <a class="standard-link" href="https://play.google.com/store/apps/details?id=com.terrabyte.byteosnotes" target="_blank">byteOS: Notes</a>
          </div>
          <div class="footer-link-container">
            <a class="standard-link" href="https://pinekeepers.com" target="_blank">Pinekeepers</a>
          </div>
        </div>
        <div class="footer-col-section set-width text-right">
          <a id="back-to-top-link" class="standard-link show-with-jsx" href="#top">Back to top</a>
        </div>
      </div>
    </section>
    <section class="flex-container align-center">
      <div class="flex-width">
        <p>Copyright &copy; <span id="copyright-year"></span>, Sammy Harper. All Rights Reserved.</p>
        <p>Website hosted by <a class="standard-link" href="https://goldenharpmedia.com" target="_blank">Golden Harp Media</a>.</p>
      </div>
      <div id="footer-badges-container" class="set-width flex-container align-center">
        <!-- website carbon -->
        <div class="footer-badge">
          <div id="wcb" class="carbonbadge"></div>
          <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
        </div>
        <!-- clean creatives -->
        <div class="clean-creatives-badge footer-badge">
          <a href="https://www.cleancreatives.org" target="_blank">
            <div class="clean-creatives-img"></div>
          </a>
        </div>
      </div>
    </section>
  </div>
</footer>