<header class="material-shadow">
  <nav class="" data-au="flex-container justify-right">
    
    <div class="nav-items-group show-on-mobile-only">
      <div class="nav-item-container icon-link-container">
        <a class="nav-item icon-link" data-trigger-menu-nav aria-label="Menu (icon)">&vellip;</a>
      </div>
    </div>

    <div id="main-nav-items-container" class="nav-items-group hide-on-mobile-only" data-trigger-menu-nav-items>
      <div id="main-nav-items" class="" data-au="flex-container justify-right">
        <div class="nav-item-container">
          <a class="nav-item" href="#projects">Past Projects</a>
        </div>
        <div class="nav-item-container">
          <a class="nav-item" href="/now">Current Projects</a>
        </div>
        <div class="nav-item-container">
          <a class="nav-item" href="#contact">Contact &amp; More</a>
        </div>
      </div>
      
    </div>
  </nav>
</header>