<header>
  <nav class="" data-au="flex-container justify-right">
    <div class="nav-item-container">
      <a class="nav-item" href="#top">Jump to Top</a>
    </div>
    <div class="nav-item-container">
      <a class="nav-item" href="#projects">Past Projects</a>
    </div>
    <div class="nav-item-container">
      <a class="nav-item" href="/now">Current Projects</a>
    </div>
    <div class="nav-item-container">
      <a class="nav-item" href="#contact">Contact &amp; More</a>
    </div>
  </nav>
</header>